body{
    background-color: #ffffff;
}
svg{
    background-color: #2c2c2c;
    position: relative;
    left: 0px;
    top: 0px;
}

svg text{
    user-select: none;
}
.mainMenu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr) ;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2c2c2c;
}
.title{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 10px;
    font-size: 2vw;
    font-family: 'Lusitana';
    font-weight: bolder;
    overflow: auto;
    color:white;
    z-index: 2;
    text-align: center;
}
.press1{
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 10px;
    font-size: 1.5vw;
    font-family: 'Lusitana';
    font-weight: bold;
    overflow: auto;
    color:white;
    transform: translateX(15%);
}
.press2{
    grid-column: 2/3;
    grid-row: 4/5;
    padding: 10px;
    font-size: 1.5vw;
    font-family: 'Lusitana';
    font-weight: bold;
    overflow: auto;
    color:white;
    transform: translateX(15%);
}
.press3{
    grid-column: 2/3;
    grid-row: 5/6;
    padding: 10px;
    font-size: 1.5vw;
    font-family: 'Lusitana';
    font-weight: bold;
    overflow: auto;
    color:white;
    transform: translateX(15%);
}
.press4{
    grid-column: 2/3;
    grid-row: 6/7;
    padding: 10px;
    font-size: 1.5vw;
    font-family: 'Lusitana';
    font-weight: bold;
    overflow: auto;
    color:white;
    transform: translateX(15%);
}
.press5{
    grid-column: 2/3;
    grid-row: 7/8;
    padding: 10px;
    font-size: 1.5vw;
    font-family: 'Lusitana';
    font-weight: bold;
    overflow: auto;
    color:white;
    transform: translateX(15%);
}
.press6{
    grid-column: 2/3;
    grid-row: 8/9;
    padding: 10px;
    font-size: 1.5vw;
    font-family: 'Lusitana';
    font-weight: bold;
    overflow: auto;
    color:white;
    transform: translateX(15%);
}
.press7{
    grid-column: 2/3;
    grid-row: 9/10;
    padding: 10px;
    font-size: 1.5vw;
    font-family: 'Lusitana';
    font-weight: bold;
    overflow: auto;
    color:white;
    transform: translateX(15%);
}


#grid2{
    display: grid;
    grid-template-columns: repeat(9, 1fr); 
    grid-template-rows: repeat(6, 1fr) ;
    grid-gap: 0px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
/*grid1 for mstSelectN, buildMST, ssspTree*/
#grid1{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr) ;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
/*used by grid1, grid2 */
#svg0{
    grid-column: 1/8;
    grid-row: 1/7;
    background-color: #2c2c2c;
}
#infoText{
    grid-column: 1/8;
    grid-row: 6/7;
    padding: 10px;
    font-size: 2vw;
    font-family: 'Lusitana';
    overflow: auto;
    color:white;
    z-index: 2;
    text-align: center;
}
#total{
    grid-column: 8/10;
    grid-row: 1/6;
    background-color:#ffffff;
    padding: 10px;
    font-size: 4vh;
    font-family: "Lusitana";
    text-align: center;
    overflow: auto;
}
#tutorialInfo{
    grid-column: 8/10;
    grid-row: 1/6;
    background-color:#ffffff;
    padding: 0.5vw;
    font-size: 1.4vw;
    font-family: "Lusitana";
    overflow: auto;
}
#command{
    grid-column: 8/10;
    grid-row: 6/7;
    background-color:#ffffff;
    padding: 10px;
    font-size: 1.2vw;
    font-family: "Lusitana";
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}
.lock{
    background-color: #202020;
    opacity: 50%;
    width: 67vw;
    height: 67vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.confirm{
    background-color: #942a2a;
    position: absolute;
    border-style: solid;
    border-width: 5%;
    border-radius: 20%;
    bottom: 15%;
    right: 39.5%;
    width: 10%;
    height: 10%;
    z-index: 2;
    font-size: 3vw;
    display: table;
}
.confirm:hover{
    background-color: #722121;
}
.confirm.next{
    background-color: #0fbd43;
    position: absolute;
    border-radius: 20%;
    bottom: 15%;
    right: 39.5%;
    width: 10%;
    height: 10%;
    z-index: 2;
    font-size: 3vw;
    display: table;
}
.confirm.next:hover{
    background-color: #1c6d34;
}
.confirmText{
    z-index: 1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

/*grid3 for vsDijkstra*/
#grid3{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr) ;
    grid-gap: 0px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
/*used by grid3*/
#svg1{
    grid-column: 1/7;
    grid-row: 1/6;
    z-index: 1;
}
#svg2{
    grid-column: 7/13;
    grid-row: 1/6;
    z-index: 1;
}
#infoText2{
    grid-column: 1/11;
    grid-row: 6/7;
    background-color:#ffffff;
    padding: 10px;
    font-size: 3vh;
    font-family: "Lusitana";
    overflow: auto;
    text-align: center;
}
#total2{
    grid-column: 6/8;
    grid-row: 1;
    z-index: 2;
    background-color:#ffffff;
    padding: 10px;
    font-size: 1.5vw;
    font-family: "Lusitana";
    text-align: center;
    overflow: auto;
}
#command2{
    grid-column: 11/13;
    grid-row: 5/7;
    background-color:#ffffff;
    padding: 10px;
    font-size: 1.2vw;
    font-family: "Lusitana";
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

.svg1{
    background-color:#2c2c2c;
}
.svg2{
    background-color: #181818;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

/* main menu buttons */
.button{
    background-color: #4845ff;
}
